<!DOCTYPE html>
<html>
	<head>
		<title>Menu</title>
		<script>const ipc = window.require('electron').ipcRenderer;
			function goToEstoqueWindow(){ 
				ipc.send('openChildWindow');  
			}
		</script>
		<link rel="stylesheet" type="text/css" href="../views/css/styles.css"/>
		<script src="https://kit.fontawesome.com/d5b850614e.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<Header id="header">
				<h2>Menu</h2>
				<h2>Sama Tech</h2>
		</Header>
		<div>
			<img src="../views/images/logo.png" alt="MDN logo">
			
			<div id="menu">
				<button id="button-menu" ><img src="../views/images/ManutencaoCadastrada.png"/></button>
				<button id="button-menu" ><img src="../views/images/FuncCadastrado.png"/></button>
				<button id="button-menu" ><img src="../views/images/ClienteCadastrado.png"/></button>
			</div>	
			<hr/>			
		</div>
		<div class="search">
			<h2>Estoque</h2>
			<input type="text" id="myInput" onkeyup="myFunction()" placeholder="procurar item..">
		</div>
		<div id="div-table">
			<table id="table">
				<thead>
					<tr>
						<th>Item</th>
						<th>Fabricante</th>
						<th>Fornecedor</th>
						<th>Categoria</th>
						<th>Quantidade</th>
						<th>Código de Barras</th>
						<th>Valor da Compra</th>
						<th>Valor de Venda</th>
						<th>DE do Dispositivo</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
			<script src="../controllers/item_estoque_controller.js">
			</script>
			<script>
				function myFunction() {
				  // Declare variables
				  var input, filter, table, tr, td, i, txtValue;
				  input = document.getElementById("myInput");
				  filter = input.value.toUpperCase();
				  table = document.getElementById("table");
				  tr = table.getElementsByTagName("tr");
				
				  // Loop through all table rows, and hide those who don't match the search query
				  for (i = 0; i < tr.length; i++) {
					td = tr[i].getElementsByTagName("td")[0];
					if (td) {
					  txtValue = td.textContent || td.innerText;
					  if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					  } else {
						tr[i].style.display = "none";
					  }
					}
				  }
				}
				</script>
		</div>
	</body>
</html>
