<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Itens Estoque</title>
    </head>
    <body>
        <div id="main">
            <div id="left">
                <div id="description">
                    <h5>Descrição do Problema</h5>
                    <textarea>Descrição do problema apresentada pelo cliente</textarea>
                </div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div id="right">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </body>
</html>
